<div>
  <ngb-alert *ngIf="successMessage" type="{{type}}" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
</div>

<div class="file_zone">
  <div class="left_space_input"></div>
  <div>
  <label for="file">Elige un archivo </label>
  
<input type="file" (change) = "file_change($event)"> </div>
<div class = "space_between"></div>
<div> Separador: <input [(ngModel)]="separator_input" type="text" placeholder="ingrese el separador"> </div>
<div class = "space_between"></div>
<div>
  <mat-label>Algunas opciones</mat-label>
  <select matNativeControl [(ngModel)]="separator_input" name="car">
    <option value="" selected></option>
    <option *ngFor="let opt of some_ptions" [value]="opt.value">
      {{opt.viewValue}}
    </option>
  </select>
</div>
<div class = "space_between"></div>
<div><button  (click)="handleFileInput()">Cargar</button></div>


</div>




<div *ngIf="!look_area">

<div ngif = "tableDb">
  <div class= "grid_container">
    <div class="left_space_grid"></div>
  <div class="first_half">Nombre: 

  </div>
  <div class="second_half">
  <mat-button-toggle-group ngif = "tableDb"  multiple [value]="[]"
  
  class="example-sticky-toggle-group">
  <mat-button-toggle class="{{ gridcss[0][indexr] }}" value="indexr" ngif = "first_element" *ngFor="let element of first_element;let indexr=index" (change)="columnselected('nombre',indexr)" disabled ="{{nombre[indexr]}}" ><div style="height: 45%;"></div><div style="height: 10%;" flex>columna {{indexr + 1}}</div></mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="codigo-campaña">
  Codigo de campaña: <input class="input-campaña" [(ngModel)]="codigo_camp" placeholder="ingrese el codigo de campaña">
</div>
</div>
</div>
<div ngif = "tableDb">
  <div class= "grid_container">
    <div class="left_space_grid"></div>
    <div class="first_half">Apellidos:</div>
    <div class="second_half">

  <mat-button-toggle-group ngif = "tableDb"  multiple [value]="[]"
  
  class="example-sticky-toggle-group">
  <mat-button-toggle class="{{ gridcss[1][indexr] }}" value="indexr" ngif = "first_element" *ngFor="let element of first_element;let indexr=index" (change)="columnselected('apellido',indexr)" disabled ="{{apellido[indexr]}}"> columna {{indexr + 1}} </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div>
<button (click)="createElement()">crear</button>
</div>
</div>
</div>
<div ngif = "tableDb">
  <div class= "grid_container">
    <div class="left_space_grid"></div>
    <div class="first_half">Telefonos:</div>

    <div class="second_half">
  
  <mat-button-toggle-group ngif = "tableDb"  multiple [value]="[]"
  
  class="example-sticky-toggle-group">
  <mat-button-toggle class="{{ gridcss[2][indexr] }}" value="indexr" ngif = "first_element" *ngFor="let element of first_element;let indexr=index" (change)="columnselected('telefono',indexr)" disabled ="{{telefono[indexr]}}" > columna {{indexr + 1}} </mat-button-toggle>
  </mat-button-toggle-group>
  </div>
</div>
</div>
<div ngif = "tableDb">
  <div class= "grid_container">
    <div class="left_space_grid"></div>
    <div class="first_half">Direcciones:</div>
    <div class="second_half">
  
  <mat-button-toggle-group ngif = "tableDb"  multiple [value]="[]"
  
  class="example-sticky-toggle-group">
  <mat-button-toggle class="{{ gridcss[3][indexr] }}" value="indexr" ngif = "first_element" *ngFor="let element of first_element;let indexr=index" (change)="columnselected('direccion',indexr)"disabled ="{{direccion[indexr]}}"> columna {{indexr + 1}} </mat-button-toggle>
  </mat-button-toggle-group>
</div>
</div>
</div>





</div>
<table class="main-table" *ngIf="!look_area" >
    <tbody>
        <tr *ngFor="let contain of tableDb ">
          <td class= "{{ tablecss[indexc] }}"ngif = "contain != null" *ngFor="let column of contain  ; let indexc = index">{{column}}</td>
        </tr>
        </tbody>
</table>
